.jumbotron{
  color:white;
  height: 200px;
  border-radius: 0;
  margin:0;
  background: url('https://images.theconversation.com/files/223749/original/file-20180619-126537-5l632j.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C3471%2C1732&q=45&auto=format&w=1356&h=668&fit=crop');
}
