div.card {
  width:400px;
  height:500px;
  background-color: rgba(184, 184, 253, 0.1);
  border-radius:10px;
  margin:5px;
  padding:15px;
}

div.image{
  width:200px;
  height:200px;
}

p.card-text {
  font-size:10px;
  height:40%;
}

div.image:hover > img {
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;

  -webkit-transition: transform 0.8s;

  transform: scale(1.01);
  transform-origin: 0 0px;

}

div.image > img {
  border-radius:10px;
  border:1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px grey;
  height:150px;

}
